*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-right:10vh;
    padding-left:10vh;
    padding-bottom:10vh;
}
.choice{
    display:flex;
    justify-content: space-evenly;
}
